@import url("./reset.css");

body {
  display: flex;
  justify-content: center;  
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(300deg, #130c57 10%, #d25d5d 80%, #f66dcf 100%);
  user-select: none;
  display: flex;
  flex-direction: column;
}

.container {
  width: 98%;
  padding: 1rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%);
  border-radius: 1.2em;
}
.game {
  padding:0.8em;
  background-color: #03001e25;
  width: 100%;
  aspect-ratio: 1/0.8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform-style: preserve-3d;
  perspective: 500px;
  border-radius: 1.2em;
}
h2 {
  font-size: 1.8em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.reset {
  padding: 1.5rem 2rem;
  width: 100%;
  background-color: #ffffff;
  border: none;
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border-radius: 1.2em;
  cursor: pointer;
}
.reset:hover {
  background-color: #ffffff90;
}
.reset:focus {
  color:#ec38bc;
  background-color: #03001e;
}
.item {
  position: relative;
  padding: .2rem;
  width: 15%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: .35em solid #fdeff9;
  border-radius: 1.2em;
  transform: rotateY(180deg);
  transition: 0.25s;
}
.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #404040;
  transition: 0.25s;
  transform: rotateY(0deg);
  border-radius: 1.2em;
  top: -.35em;
  left: -.35em;
  bottom: -.35em;
  right: -.35em;
  backface-visibility: hidden;
}
.item.box-open {
  transform: rotateY(0deg);
}
.box-open::after {
  transform: rotateY(180deg);
}
.win-button {
  color: #ffffff;
  background-color: #388738;
}
.win-game-page {
  background-color: #38873825;
}